.textbox{
    height: 42%;
    margin-top: 1%;
    width: 45%;
    margin-left: 1%;
    border: 1px solid black;    
    background: #ccc;
    float: left;
    overflow: hidden;
    overflow-y: scroll;
}

#slideArea {
    display: none;
}

/* .textbox p{
    margin-left: 2%;
    margin-right: 2%;
    border-left: 3px solid rgb(202, 0, 0);
    background-color: rgb(141, 141, 141);
    text-indent: 1%;
    float: left;
    width: 96%;
} */

.headerBar{
    overflow: visible;
    background-color: rgb(42, 42, 43);
    color: azure;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.headerBar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
    height: 67.03px;/*To make the dropdown box the same size as the headerbar*/
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 1.5em;
    height: 100%;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a grey background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(60, 60, 61);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

.main{
    height: inherit;
    margin-left: unset;
    margin-bottom: auto;
    overflow: hidden;
    overflow-y: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #ccc;
    color: #444;
    cursor: pointer;
    padding: 1% 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
    font-family: 'Roboto';font-size: 22px;
}

/* Add a background color to the button if it is hovered on */
.accordion:hover {
    background-color: #eee;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    margin-left: 0;
    background-color: #ccc;
    display: block;
    overflow: hidden;
}

.panel p{
    margin: 2px 18px;
    font-family: 'Roboto';
}

html, body {
    height: 100%;
    margin: unset;
}

h2, h3{
    text-align: center;
}

h3{
    margin-top: 1%;
    margin-bottom: 1%;
}

th, td {
    margin-left: 1%;
    text-align: left;
  }

.imageBox {
    overflow: hidden;
    height: 86%;
    width: 45%;
    margin-left: 5%;
    margin-top: 80px;
    margin-bottom: 2%;
    float: left;
    border: 1px solid black;
    z-index: 0;
    display: hidden;
}

#opPlan{
    margin-top: 80px;
    height: 86%;
}

#address{
    margin: 0;
}

#pdf{
    width: 100%;
    display: block;
    text-align: center;
}

/* drop down styling */
.commanderdropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 42%;
  }
  
  .commanderdropbtn:hover,.commanderdropbtn:focus {
    background-color: #2980B9;
  }
  
  .commanderdropdown {
    position: relative;
    display: inline-block;
    left: 18px;
    margin: 18px 0;
  }
  
  .commanderdropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 42%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-bottom: 18px;
  }
  
  .commanderdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .commanderdropdown a:hover {background-color: #ddd;}

.show {display: block;}