html, body {
  height: 100%;
  width: 100%;
  margin: unset;
  overflow: hidden;
  overflow-y: auto;
}

.headerBar{
  overflow-y: visible;
  background-color: rgb(42, 42, 43);
  color: azure;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.headerBar h2{
  text-align: center;
}

.headerBar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: fit-content;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
  height: 67.03px;/*To make the dropdown box the same size as the headerbar*/
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1.5em;
  height: 100%;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a grey background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(60, 60, 61);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.inputField{
  margin-top: 90px;
  margin: 0 5%;
  z-index: 0;
}

.CoordHeader{
  margin-top: 100px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*input[type=submit] {
    width: 100%;
    background-color: rgb(32, 57, 180);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }*/

  input[type=submit] {
    width: 100%;
    background-color: rgb(32, 57, 180);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.checkboxgroup{
    width: 20em;
    overflow: auto;
}
.checkboxgroup p{
    width: 7em;
    text-align: right;
}
.checkboxgroup label{
    width: 12em;
    float: left;
}