.textbox{
    height: 42%;
    margin-top: 1%;
    width: 40%;
    margin-left: 2%;
    border: 1px solid black;    
    background: #ccc;
    float: left;
    overflow-y: scroll;
}
/* .textbox p{
    margin-left: 2%;
    margin-right: 2%;
    border-left: 3px solid rgb(202, 0, 0);
    background-color: rgb(141, 141, 141);
    text-indent: 1%;
    float: left;
    width: 96%;
} */

.headerBar{
    overflow: hidden;
    background-color: rgb(42, 42, 43);
    color: azure;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.main{
    height: inherit;
    margin-left: unset;
    margin-bottom: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #ccc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #eee;
  }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.panel p{
    margin: 2px 0px;
}

html, body {
    height: 100%;
    margin: unset;
}

h2, h3{
    text-align: center;
}

h3{
    margin-top: 1%;
    margin-bottom: 1%;
}

th, td {
    margin-left: 1%;
    text-align: left;
  }

#mapArea {
    overflow: hidden;
    height: calc(86% + 2px); /* 4px minus er pga borders så det passer med de andre elementer */
    width: 45%;
    margin-left: 5%;
    margin-top: 80px;
    margin-bottom: 2%;
    float: left;
    border: 1px solid black;
    z-index: 0;
}

#strucPlan{
    margin-top: 80px;
}

/* #operative{
    margin-top: 5px;
}

#structure{
    height: 300px;
} */